Frontend/node_modules/
Frontend/src/node_modules/
Backend/node_modules/
Frontend/dist/
Backend/.env
Backend/credentials.json
Backend/credentials.json.json
Frontend/tsconfig.tsbuildinfo
.vscode/
*.log
.DS_Store
Thumbs.db
